[submodule "packages/awesome-nest-boilerplate"]
	path = packages/awesome-nest-boilerplate
	url = git@github.com:NarHakobyan/awesome-nest-boilerplate.git
	branch = master
[submodule "packages/awesome-nest-microservice"]
	path = packages/awesome-nest-microservice
	url = git@github.com:NarHakobyan/awesome-nest-microservice.git
